<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ .Title }} | {{ .Site.Title }}</title>
		<link rel="stylesheet" href="{{ "/css/simplesource.css" | relURL }}">
	</head>

	<body>
		<div>
			<nav>
				{{ $title := .Site.Title }}
				{{ range $menuItem := .Site.Menus.main }}
					{{ if eq $menuItem.Name "Home" }}
						<a class="brand" href="{{ $menuItem.URL | relURL }}">
						{{ $title }}
					{{ else }}
						<a href="{{ $menuItem.URL | relURL }}">
						{{ $menuItem.Name }}
					{{ end }}
					</a>
				{{ end }}
			</nav>
		</div>
